<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row jumbotron">
        <h1>Student Session</h1>
        <p>Have a exclusive meeting with your favorite Company!
          <br />
          Want to find out more about the companies of this years student sessions? 
          <br />
          Scroll down on this page and press logos for the companies you want to read more about.</p>
        <button class="btn btn-warning btn-sm" ng-click="gotoSelected()">Read about the companies</button>
        <a class="btn btn-primary btn-sm" target="_blank" data-ui-sref="applications.create">Apply now</a>
    </div>
  </div>
  <!-- HtmlDescription -->
  <div ng-bind-html="vm.frontpagehtml"></div>
  <!-- Companies -->
  <div class="row jumbotron companygrid">
    <h3 id="company">
      Companies
    </h3>
    <small>Click the logo of the company you're interested in to get more information about them.</small>
    <div class="company" >
      <div ng-show="company" class="row">
        <div class="col-sm-6">
          <img data-ng-show="company.profileImageURL"
          class="" ng-src="/api/companies/logo/{{company.profileImageURL}}" />
          <hr />
          <h5 class><strong>We offer:</strong></h5>
          <span ng-repeat="offer in company.weOffer" class="tag">{{ offer }}</span>
          <hr>
          <h5 class><strong>We want to above all meet:</strong></h5>
          <span ng-repeat="program in company.desiredProgramme" class="tag">{{ program }}</span>
          <hr>
          <h5 class><strong>Industry:</strong></h5>
          <span ng-repeat="branch in company.branch" class="tag">{{ branch }}</span>
          <hr>
          <h5 class><strong>We want resumés in:</strong></h5>
          <span data-ng-if="!company.language">No language specified</span>
          <span data-ng-if="company.language" data ng-bind="company.language"></span>
          <hr>
          <h5 class><strong>Website:</strong></h5>
          <a href="{{ company.website }}">{{ company.website }}</a>
        </div>
        <div class="col-sm-6">
          <h5 class><strong>Description:</strong></h5>
          <div ng-bind-html="description"></div>
          <hr>
          <h5 class><strong>Why do we want student session?</strong></h5>
          <div ng-bind-html="whyStudentSession"></div>
          <hr>
          <h5 class><strong>Did you know:</strong></h5>
          <div ng-bind-html="didYouKnow"></div>
        </div>
      </div>
    </div>
    <!-- CompaniesList -->
    <div class="row">
      <div class="companies">
        <div class="companybox" ng-click="viewCompany(company)"
          data-ng-repeat="company in vm.companies" >
          <span class="helper"></span>
          <img data-ng-show="company.profileImageURL"
            class="grayscale" ng-src="/api/companies/logo/{{company.profileImageURL}}" />
          <h4 data-ng-show="!company.profileImageURL"
            class="grayscale" data-ng-bind="company.name" ></h4>
        </div>
      </div>
      <div class="alert alert-warning text-center" data-ng-if="vm.companies.$resolved && !vm.companies.length">
        No Companies yet, why don't you <a data-ui-sref="companies.create">create one</a>?
      </div>
    </div>

  </div>
  <div class="well">
    <p class="text-center">
      If you have any questions contact: <a href="mailto:kontaktsamtal.arkad@tlth.se">
kontaktsamtal.arkad@tlth.se</a>
    </p>
  </div>
</section>
