<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row jumbotron">
        <h1>Student Session</h1>
        <p>Have a exclusive meeting with your favorite Company!</p>
        <a class="btn btn-primary btn-lg" data-ui-sref="applications.create">Apply now</a>
    </div>
  </div>
  <!-- HtmlDescription -->
  <div ng-bind-html="vm.frontpagehtml"></div>
  <!-- Companies -->
  <div class="row jumbotron companygrid">
    <h2 id="company">
      Companies
    </h2>
    <!-- Selected Company -->
    <div class="company" >
      <div ng-show="company">
        <h4 id="companyname" class="list-group-item-heading" data-ng-bind="company.name"></h4>
        <br>
        <h5 class><strong>Description:</strong></h5>
        <span data-ng-bind="company.description"></span>
        <hr>
        <h5 class><strong>Why do we want student session?</strong></h5>
        <span data-ng-bind="company.whyStudentSession"></span>
        <hr>
        <h5 class><strong>Did you know:</strong></h5>
        <span data-ng-bind="company.didYouKnow"></span>
        <hr>
        <h5 class><strong>We offer:</strong></h5>
        <span data-ng-bind="company.weOffer"></span>
        <hr>
        <h5 class><strong>We want to above all meet:</strong></h5>
        <span data-ng-bind="company.desiredProgramme"></span>
        <hr>
        <h5 class><strong>Industry:</strong></h5>
        <span data-ng-bind="company.branch"></span>
        <hr>
        <h5 class><strong>We want resumés in:</strong></h5>
        <span data-ng-if="!company.language">No language specified</span>
        <span data-ng-if="company.language" data ng-bind="company.language"></span>
        <hr>
        <h5 class><strong>Website:</strong></h5>
        <span data-ng-bind="company.website"></span>
      </div>
    </div>

    <!-- CompaniesList -->
    <div class="row">
      <div class="companies">
        <div class="companybox" ng-click="viewCompany(company)"
          data-ng-repeat="company in vm.companies" >
          <span class="helper"></span>
          <img data-ng-show="company.profileImageURL"
            class="grayscale" ng-src="/api/companies/logo/{{company.profileImageURL}}" />
          <h4 data-ng-show="!company.profileImageURL"
            class="grayscale" data-ng-bind="company.name" ></h4>
        </div>
      </div>
      <div class="alert alert-warning text-center" data-ng-if="vm.companies.$resolved && !vm.companies.length">
        No Companies yet, why don't you <a data-ui-sref="companies.create">create one</a>?
      </div>
    </div>

  </div>
  <div class="well">
    <p class="text-center">
      If you have any questions contact: <a href="mailto:kontaktsamtal.arkad@tlth.se">
kontaktsamtal.arkad@tlth.se</a>
    </p>
  </div>
</section>
