<section>
  <div class="page-header">
    <h1>{{vm.meeting._id ? 'Edit Meeting' : 'New Meeting'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.meetingForm" class="form-horizontal" ng-submit="vm.save(vm.form.meetingForm.$valid)" novalidate>
      <fieldset>


        <div class="form-group" show-errors>
          <label for="ngvalueselect">Lokal:</label><br>
          <select size="6" name="ngvalueselect" ng-model="vm.facility">
            <option ng-repeat="facility in vm.facilities" ng-value="facility.name">{{facility.name}}</option>
          </select>
        </div>
        
        <div class="form-group" show-errors>
          <label for="ngvalueselect">Företag:</label><br>
          <select size="6" name="ngvalueselect" ng-model="vm.company">
            <option ng-repeat="company in vm.companies" ng-value="company.name">{{company.name}}</option>
          </select>
        </div>

        <div class="form-group" show-errors>
          <label for="ngvalueselect">Student:</label><br>
          <select size="6" name="ngvalueselect" ng-model="vm.student">
            <option ng-repeat="application in vm.applications" ng-value="application.email">{{application.email}} {{application.phone}}</option>
          </select>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="description">Datum:</label>        
          <input type="date" name="date" ng-model="vm.date" id = "date" class="form-control" placeholder="yyyy-MM-dd" required />
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="description">Tid:</label>        
          <input type="time" name="time" ng-model="vm.time" id="time" class="form-control" placeholder="yyyy-MM-dd" required />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="createMeeting();">{{vm.meeting._id ? 'Update' : 'Skapa möte'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
