<head>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script data-require="ui-bootstrap@*" data-semver="0.10.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>
<section>
	<div class="page-header">
		<h1>{{vm.meeting._id ? 'Edit Meeting' : 'New Meetings'}}</h1>
	</div>
	<div class="col-md-12">
		<form name="vm.form.meetingForm" class="form-horizontal" ng-submit="vm.save(vm.form.meetingForm.$valid)" novalidate>
			<fieldset>

      <!--
      -Välj datum och tid, flera st. Typ 16/7 och 16/8 (ska man kunna välja olika tider de olika dagarna?)
      	- Hitta något snyggt sätt att välja detta

      	Tid:
      	https://docs.angularjs.org/api/ng/input/input%5Btime%5D

      	Datum:
      	https://docs.angularjs.org/api/ng/input/input%5Bdate%5D Endast ett i taget. Inte jätteuppenbart var man ska klicka för att få upp kalender. Kanske kan man göra det tydligare på ngt sätt.

      	http://bootstrap-datepicker.readthedocs.io/en/latest/options.html#multidate Kan välja flera datum i taget

      	Datum och tid:
      	https://docs.angularjs.org/api/ng/input/input%5Bdatetime-local%5D

      	OBS: Vid valet, kontrollera i Firefox och Edge/Explorer då vissa ser helt annorlunda ut än i Chrome.

      - Välj längd på möten.

      -Välj tid för lunchrast, + fler raster? Ngn snygg lösning för det? Kan man välja valfritt antal raster/olika tidskombinationer på ngt sätt?

      -Välj lokaler - testa checkboxes :D
      	- https://docs.angularjs.org/api/ng/input/input%5Bcheckbox%5D

      -->

      <div class="form-group" show-errors>
      	<label for="selectStartDate">Startdatum</label><br>

      	<input type="date" name="selectStartDate" ng-model="vm.startDate" placeholder="yyyy-MM-dd" required />
      	<div role="alert">
      		<span class="error" ng-show="myForm.input.$error.required">
      			Required!</span>
      		<span class="error" ng-show="myForm.input.$error.date">
      			Not a valid date!</span>
      	</div>
      </div>

      	<div class="form-group" show-errors>
      		<label for="selectEndDate">Slutdatum</label><br>

      		<input type="date" name="selectEndDate" ng-model="vm.endDate" placeholder="yyyy-MM-dd" required />
      		<div role="alert">
      			<span class="error" ng-show="myForm.input.$error.required">
      				Required!</span>
      			<span class="error" ng-show="myForm.input.$error.date">
      				Not a valid date!</span>
      		</div>
      	</div>

      	<div class="form-group" show-errors>
      		<label for="selectStartTime">Starttid</label><br>
      		<input type="time" id="exampleInput" name="input" ng-model="vm.startHours"
      		placeholder="HH:mm:ss" required />
      		<div role="alert">
      			<span class="error" ng-show="myForm.input.$error.required">
      				Required!</span>
      			<span class="error" ng-show="myForm.input.$error.time">
      				Not a valid date!</span>
      		</div>
      	</div>


      	<div class="form-group" show-errors>
      		<label for="selectEndTime">Sluttid</label><br>
      		<input type="time" id="exampleInput" name="input" ng-model="vm.endHours"
      		placeholder="HH:mm:ss" required />
      		<div role="alert">
      			<span class="error" ng-show="myForm.input.$error.required">
      				Required!</span>
      			<span class="error" ng-show="myForm.input.$error.time">
      				Not a valid date!</span>
      		</div>
      	</div>


      	<div class="form-group" show-errors>
      		<label for="selectLength">Möteslängd (minuter)</label><br>

      		<input type="number" name="selectLength" ng-model="vm.meetingTimeLength" required>
      		<div role="alert">
      			<span class="error" ng-show="myForm.input.$error.required">
      				Required!</span>
      				<span class="error" ng-show="myForm.input.$error.number">
      					Not valid number!</span>
      		</div>
      	</div>

      	<div class="form-group" show-errors>
      		<label for="selectBreak">Lunchrast</label><br>

      		<input type="time" id="exampleInput" name="input" ng-model="vm.lunchStart"
      		placeholder="HH:mm:ss" required /> -
      		<input type="time" id="exampleInput" name="input" ng-model="vm.lunchEnd" placeholder="HH:mm" required />
      					<div role="alert">
      						<span class="error" ng-show="myForm.input.$error.required">
      							Required!</span>
      						<span class="error" ng-show="myForm.input.$error.time">
      							Not a valid date!</span>
      					</div>
      	</div>


      	<div class="form-group">
      		<label for="selectResources">Lokaler</label><br>
      		<div ng-repeat = "facility in vm.facilities">
      			<input name="selectResources" type="checkbox" ng-model="vm.chosenFacilities[facility.name]">
      			{{facility.name}}
      		</div>
      	</div>


      <!--TODO: lägg till kontroll att slutdatum är efter startdatum,
      sluttid inte är innan starttid osv.

      TODO: make submittion possible only when no fields are null or empty.-->
      <div class="form-group">
      	<button type="submit" class="btn btn-default" ng-click="createMeetings();">{{vm.meeting._id ? 'Update' : 'Skapa möten'}}</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
      	<strong ng-bind="vm.error"></strong>
      </div>

            	<div>
      		<b>Test</b> <br>
      		Startdatum: {{vm.startDate}} <br>
      		Slutdatum: {{vm.endDate}} <br>
      		Starttid: {{vm.startHours}} <br>
      		Sluttid: {{vm.endHours}} <br>
      		Möteslängd: {{vm.meetingTimeLength}} <br>
      		Möteslokaler: {{chosenFacilitiesArray()}} <br>
      		Lunchstart: {{vm.lunchStart}} <br>
      		Lunchslut: {{vm.lunchEnd}} <br>
      	</div>

  </fieldset>
</form>
</div>
</section>
