<section>
	<div class="page-header">
		<h1>Generate Schedule</h1>
	</div>
	<div class="col-md-12">
		<form name="vm.form.meetingForm" class="form-horizontal" ng-submit="vm.save(vm.form.meetingForm.$valid)" novalidate>
			<fieldset>
        <!-- Day Settings -->
        <div class="row jumbotron">
          <div class="row">
          </div>
          <!-- Lunchbreak -->
          <div class="row">
          </div>
          <!-- Buttons -->
          <div class="row">
            <button type="button" class="btn btn-primary" ng-click="generateSchedule();">Generate Schedule</button>
            <button type="button" class="btn btn-danger" ng-click="saveSchedule();">Save Schedule</button>
            <button type="button" class="btn btn-primary" ng-show="vm.scheduleGenerated" ng-click="saveToDatabase();">Save schedule</button>
            <p ng-data-bind="error"></p>
          </div>
          <!-- Companies Schedule -->
          <div class="row" ng-repeat="company in completeComp">
            <h3>{{ company.name }}</h3>
            <p> Meetings booked: {{ company.meetings.length }}
            </p>
            <table class="table table-condensed compact table-bordered nowrap">
              <tr>
                <th><strong> Student </strong> </th>
                <td><strong> Start </strong> </td>
                <td><strong> End </strong> </td>
                <td><strong> Day </strong> </td>
                <td><strong> Forced Meeting (student not available) </strong> </td>
              </tr>
              <tr ng-repeat="meeting in company.meetings">
                <td> {{ meeting.student.name }} </td>
                <td> {{ meeting.startTime }} </td>
                <td> {{ meeting.endTime }} </td>
                <td> {{ meeting.day }} </td>
                <td> {{ meeting.forced }} </td>
              </tr>
            </table>
          </div>
        </div>


      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
      </fieldset>
    </form>
  </div>
</section>
