<section>
	<div class="page-header">
		<h1>Generate Schedule</h1>
	</div>
	<div class="col-md-12">
		<form name="vm.form.meetingForm" class="form-horizontal" ng-submit="vm.save(vm.form.meetingForm.$valid)" novalidate>
			<fieldset>
        <!-- Day Settings -->
        <div class="row jumbotron">
          <div class="row">
            <!-- First day -->
            <div class="col-sm-6">
              <h3> First day </h3>
              <table class="table table-condensed compact table-bordered nowrap">
                <tr>
                  <td> Date </td>
                  <td> <input type="date" class="form-control" name="selectfirstdate" ng-model="vm.day[0].date" placeholder="yyyy-MM-dd" required /> </td>
                </tr>
                <tr>
                  <td> Starttime </td>
                  <td> <input type="time" class="form-control" ng-model="vm.day[0].startHours" placeholder="HH:mm:ss" required /> </td>
                </tr>
                <tr>
                  <td> Endtime </td>
                  <td> <input type="time" class="form-control" ng-model="vm.day[0].endHours" placeholder="HH:mm:ss" required /> </td>
                </tr>
              </table>
            </div>
            <!-- Second day -->
            <div class="col-sm-6">
              <h3> Second day </h3>
              <table class="table table-condensed compact table-bordered nowrap">
                <tr>
                  <td> Date </td>
                  <td> <input type="date" class="form-control" name="selectfirstdate" ng-model="vm.day[0].date" placeholder="yyyy-MM-dd" required /> </td>
                </tr>
                <tr>
                  <td> Starttime </td>
                  <td> <input type="time" class="form-control" ng-model="vm.day[0].startHours" placeholder="HH:mm:ss" required /> </td>
                </tr>
                <tr>
                  <td> Endtime </td>
                  <td> <input type="time" class="form-control" ng-model="vm.day[0].endHours" placeholder="HH:mm:ss" required /> </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- Lunchbreak -->
          <div class="row">
            <h3>Lunchbreak</h3>
            <table class="table table-condensed compact table-bordered nowrap">
              <tr>
                <td> Have lunchbreak? </td>
                <td> 
                  <label>
                    <input type="checkbox"  ng-model="vm.hasLunchbreak" value="true"> Yes
                  </label>
                </td>
              </tr>
              <tr ng-show="vm.hasLunchbreak">
                <td> From </td>
                <td> <input type="time" class="form-control" ng-model="vm.lunchStart" placeholder="HH:mm:ss" /> </td>
              </tr>
              <tr ng-show="vm.hasLunchbreak">
                <td> To </td>
                <td> <input type="time" class="form-control" ng-model="vm.lunchEnd" placeholder="HH:mm" /> </td>
              </tr>
            </table>
          </div>
          <!-- Buttons -->
          <div class="row">
            <button type="button" class="btn btn-primary" ng-click="createMeetings();">Generate Schedule</button>
            <button type="button" class="btn btn-primary" ng-show="vm.scheduleGenerated" ng-click="saveToDatabase();">Save schedule</button>
            <p ng-data-bind="error"></p>
          </div>
          <!-- Wednesday Schedule -->
          <div class="row">
            <table class="table table-condensed compact table-bordered nowrap">
              <tr ng-repeat="company in vm.companySchedule">
                <td><strong> {{ company.name }} </strong> </td>
                <td ng-repeat="cmeeting in company.wedMeetings"> {{ cmeeting.student }}, {{ cmeeting.time }} </td>
              </tr>
            </table>
          </div>
        </div>


      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
      </fieldset>
    </form>
  </div>
</section>
