<section>
  <div class="page-header">
    <h1>Meetings</h1>
  </div>
  <div class="list-group jumbotron">
    <button class="btn btn-sm btn-danger pull-right" ng-click="vm.deleteAllMeetings()">Delete all meetings</button>
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:20%">Lokal</td>
        <td style="width:10%">Datum</td>
        <td style="width:10%">StartTid</td>
        <td style="width:10%">SlutTid</td>
        <td style="width:20%">Företag</td>
        <td style="width:20%">Student</td>
        <td style="width:10%"></td>
      </tr>
      <tr ng-repeat="meeting in vm.meetings">
        <td>
          <span>{{ meeting.facility }}</span>
        </td>
        <td>
          <span>{{ meeting.date | date:'yyyy-MM-dd' }}</span>
        </td>
        <td>
          <span>{{ meeting.date | date:'HH:mm' }}</span>
        </td>
        <td>
          <span>{{ meeting.endDate | date:'HH:mm' }}</span>
        </td>
        <td>
          <span>{{ meeting.company }}</span>
        </td>
        <td>
          <span>{{ meeting.student }}</span>
        </td>
        <td>
          <a data-ui-sref="meetings.view({ meetingId: meeting._id })"><i class="glyphicon glyphicon-eye-open"></i></a>
        </td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.meetings.$resolved && !vm.meetings.length">
    No Meetings yet, why don't you <a data-ui-sref="meetings.create">create one</a>?
  </div>
</section>
