<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.meeting.name"></h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Student:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.student"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Företag:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.company"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Lokal:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.facility"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Startdatum:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.date | date:'yyyy-MM-dd'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Starttid:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.date | date:'HH:mm'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Slutdatum:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.endDate | date:'yyyy-MM-dd'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Sluttid:</strong></div>
        <div class="col-md-6" ng-bind="vm.meeting.endDate | date:'HH:mm'"></div>
      </div>
      <hr/>
    </div>
  </div>

  <div class="pull-right"
       data-ng-show="vm.meeting.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="meetings.edit({ meetingId: vm.meeting._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.meeting.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.meeting.user"
            data-ng-bind="vm.meeting.user.displayName"></span>
      <span data-ng-if="!vm.meeting.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.meeting.content"></p>
</section>
