<section>
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="applicationsetting in vm.applicationsettings"
      data-ui-sref="applicationsettings.view({ applicationsettingId: applicationsetting._id })"
      class="list-group-item">

      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="applicationsetting.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="applicationsetting.user" data-ng-bind="applicationsetting.user.displayName"></span>
        <span data-ng-if="!applicationsetting.user">Deleted User</span>
      </small>
      <h3 class="list-group-item-heading">{{applicationsetting.name}}</h3>
      <h4>Start date for applications:</h4>
      <span class="list-group-item-heading">{{applicationsetting.startdate | date:'mediumDate'}}</span>
      <h4>End date for applications:</h4>
      <span class="list-group-item-heading">{{applicationsetting.enddate | date:'mediumDate'}}</span>
      <h4>Date of termination for the setting:</h4>
      <span class="list-group-item-heading">{{applicationsetting.terminatedate | date:'mediumDate'}}</span>
      <h4>Default meeting length:</h4>
      <span class="list-group-item-heading">{{applicationsetting.meetingtime}}</span>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.applicationsettings.$resolved && !vm.applicationsettings.length">
    No Applicationsettings yet, why don't you <a data-ui-sref="applicationsettings.create">create one</a>?
  </div>
</section>
