<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.applicationsetting.name"></h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Startdatum för ansökningar</strong></div>
        <div class="col-md-6" ng-bind="vm.applicationsetting.startdate"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Slutdatum för ansökningar</strong></div>
        <div class="col-md-6" ng-bind="vm.applicationsetting.enddate"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Slutdatum för inställning</strong></div>
        <div class="col-md-6" ng-bind="vm.applicationsetting.terminatedate"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Möteslängd</strong></div>
        <div class="col-md-6" ng-bind="vm.applicationsetting.meetingtime"></div>
      </div>
      <hr/>
    </div>
  </div>

  <div class="pull-right"
       data-ng-show="vm.applicationsetting.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="applicationsettings.edit({ applicationsettingId: vm.applicationsetting._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.applicationsetting.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.applicationsetting.user"
            data-ng-bind="vm.applicationsetting.user.displayName"></span>
      <span data-ng-if="!vm.applicationsetting.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.applicationsetting.content"></p>
</section>
