<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="C:\Users\Sara\Documents\kontaktsamtal\modules\applications\client\controllers/companies.client.controller.js"></script>

<section>
  <div class="page-header">
    <h1>{{vm.application._id ? 'Edit Application' : 'Ansök / Apply'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.applicationForm" class="form-horizontal" ng-submit="vm.save(vm.form.applicationForm.$valid)" novalidate>
      <fieldset>

        <!-- Name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Namn / Name</label>
           <input name="name" type="text" ng-model="vm.application.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.applicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
          </div>
        </div>
        <!-- Phone number -->
        <div class="form-group" show-errors>
          <label class="control-label" for="phone">Telefonnummer / Phone number</label>
          <input name="phone" type="text" ng-model="vm.application.phone" id="phone" class="form-control" placeholder="Telefonnummer" required>
          <div ng-messages="vm.form.applicationForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone number is required.</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email / Email</label>
          <input name="email" type="text" ng-model="vm.application.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="vm.form.applicationForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <!-- Program -->
        <div class="form-group" show-errors>
          <label class="control-label" for="program">Program / Education</label>
          <select name="program" ng-model="vm.application.program" ng-options="program for program in programs" class="program_select_box" required>
          </select>
          <div ng-messages="vm.form.applicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Program is required.</p>
          </div>
        </div>
        <!-- Year -->
        <div class="form-group" show-errors>
          <label class="control-label" for="program">År / Year</label>
          <select name="program" ng-model="vm.application.year" ng-options="year for year in years" class="year_select_box" required>
          </select>
          <div ng-messages="vm.form.applicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Program is required.</p>
          </div>
        </div>
        <!-- Companies -->
        <div class="form-group">
          <label for="selectcompanies"> Företag / Companies</label>
          <br>
          Välj de företag du skulle vilja träffa. / Choose the companies you would like to meet.
          <br>

            <select name="selectcompanies" id="selectcompanies" ng-model="vm.application.companies" ng-options='string for string in companyNames' class="company_select_box" multiple required>
            </select><br>
            <div ng-messages="vm.form.applicationForm.selectcompanies.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Choose companies required.</p>
            </div>
        </div>


        <!-- Times -->
        <div class="form-group">
          <label for="selectTimes"> Tider / Available </label><br>
          Vänligen ange de tider du kan. / Please apply when you are available for meetings.
          <br>
          <select name="selectTimes" id="selectTimes" ng-model="vm.application.times" multiple ng-options='string for string in times' class="time_select_box">
            </select><br>
        </div>

       <div class="form-group" show-errors>
            <label for="description"> Kort om dig / Short description of yourself</label><br>
            Max 500 tecken. / Max of 500 characters. <br>
             <textarea name="description" ng-model="vm.application.description" 
             rows="4" cols="70" ng-change="monitorLength(500)"></textarea><br>
        </div>

        <!--Resume upload -->
        <div class="form-group">
          <h3>Uppladdning av CV</h3>
          <p> Kontrollera i företagsbeskrivningen för de företag du sökt till vilket eller vilka språk de tar emot cv på. / 
              Please double-check in company-desrcriptions for the companies you want to meet for what languages they accept resumé's on.
          </p>

            <div ng-hide="uploader.queue.length">
             <span class="btn btn-default btn-file">
                 Välj PDF / Choose PDF<input name="resume-pdf" type="file" nv-file-select uploader="uploader">
             </span>
           </div>

           <div ng-show="uploader.queue.length">
             <button type="button" class="btn btn-primary" ng-click="uploader.uploadAll();">Skicka in cv / Send in resumé</button>
            </div>

           <div ng-show="uploader.queue.length">  
             <button type="button" class="btn btn-default" ng-click="uploader.clearQueue(); unsuccess();">Ångra / Undo</button> 
           </div>

           <div ng-show="vm.application.resume.length">
            Du har skickat in ett cv. Skicka in ett nytt cv för att byta. / You have sent in your resumé. Choose a new one for updating.
           </div>


           <div ng-show="success && !uploader.queue.length" class="text-center text-success">
             <strong>Ditt cv har har laddats upp! / Your resumé has been uploaded!</strong>
           </div>
           <div ng-show="error" class="text-center text-danger">
             <strong ng-bind="error"></strong>
            </div> 
        </div>
       

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.application._id ? 'Update' : 'Skicka'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div> <br>

      </fieldset>
    </form>
  </div>
</section>
