<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="C:\Users\Sara\Documents\kontaktsamtal\modules\applications\client\controllers/companies.client.controller.js"></script>

<section>
  <div class="page-header">
    <h1>{{vm.application._id ? 'Edit Application' : 'Ansök / Apply'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.applicationForm" class="form-horizontal" ng-submit="vm.save(vm.form.applicationForm.$valid)" novalidate>
      <fieldset>

        <!-- Name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Namn / Name</label>
           <input name="name" type="text" ng-model="vm.application.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.applicationForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
          </div>
        </div>
        <!-- Phone number -->
        <div class="form-group" show-errors>
          <label class="control-label" for="phone">Telefonnummer / Phone number</label>
          <input name="phone" type="text" ng-model="vm.application.phone" id="phone" class="form-control" placeholder="Telefonnummer" required>
          <div ng-messages="vm.form.applicationForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone number is required.</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email / Email</label>
          <input name="email" type="text" ng-model="vm.application.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="vm.form.applicationForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <!-- Program -->
        <div class="form-group" show-errors>
          <label class="control-label" for="program">Program / Education</label>
          <select name="program" ng-model="vm.application.program" ng-options="program for program in programs" class="program_select_box" required>
            <option disabled></option>
          </select>
          <div ng-messages="vm.form.applicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Program is required.</p>
          </div>
        </div>
        <!-- Year -->
        <div class="form-group" show-errors>
          <label class="control-label" for="program">År / Year</label>
          <select name="program" ng-model="vm.application.year" ng-options="year for year in years" class="year_select_box" required>
            <option disabled></option>
          </select>
          <div ng-messages="vm.form.applicationForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Year is required.</p>
          </div>
        </div>
        <!-- Companies -->
        <div class="form-group">
          <label for="selectcompanies"> Företag / Companies</label>
          <br>
          Välj de företag du skulle vilja träffa. / Choose the companies you would like to meet.
          <br>
            <select name="selectcompanies" id="selectcompanies" ng-model="vm.application.companies" ng-options='string for string in companyNames' class="company_select_box" multiple> 
            </select><br>
        </div>
        <!-- Times -->
        <div class="form-group">
          <label for="selectTimes"> Tider / Available </label><br>
          Vänligen ange de tider du kan. / Please apply when you are available for meetings.
          <br>
          <select name="selectTimes" id="selectTimes" ng-model="vm.application.times" multiple ng-options='string for string in times' class="time_select_box">
            </select><br>
        </div>
        <!-- Descriptions -->
       <div class="form-group" show-errors>
          <label for="description"> Kort om dig </label><br>
            Skriv här en introduktion om dig till de företag du önskat. Max 500 tecken per introduktion. <br>
            Companies: {{vm.application.companies}}
            <div name="noCompanies" ng-show="vm.application.companies.length === 0">
              <br> 
              Du har inte valt några företag.
            </div>

             <div ng-repeat="company in vm.application.companies track by $index">
              <b>{{company}}</b>
              description company: {{vm.application.descriptions[$index].description}}
              <br>
               <textarea name="description$index" ng-model="vm.application.descriptions[$index].description" 
               rows="4" cols="70" ng-change="monitorLength(500, $index)"></textarea><br>
             </div>
        </div>

        <!--Resume upload -->
        <div class="form-group">
          <h3>Uppladdning av CV</h3>
          <p> Kontrollera i företagsbeskrivningen för de företag du sökt till vilket eller vilka språk de tar emot cv på. / 
              Please double check in the company descriptions for the companies you want to meet what languages they accept resumes on.
          </p>

           <!-- CV svenska -->
           <h4> Svenska / Swedish </h4>
            <div ng-hide="swedishFileUploader.queue.length">
             <span class="btn btn-default btn-file">
                 Välj CV på svenska / Pick a Swedish resume <input name="newResume" type="file" nv-file-select uploader="swedishFileUploader">
             </span>
           </div>

           <div ng-show="swedishFileUploader.queue.length">
             <button type="button" class="btn btn-primary" ng-click="swedishFileUploader.uploadAll();">Skicka in cv / Submit resume</button>
          </div>

           <div ng-show="swedishFileUploader.queue.length">  
             <button type="button" class="btn btn-default" ng-click="swedishFileUploader.clearQueue(); swedishUploadUnsuccess();">Ångra / Cancel</button> 
           </div>

           <div ng-show="swedishUploadSuccess && !swedishFileUploader.queue.length" class="text-success">
             <strong>Ditt cv har har laddats upp! / Your resume has been uploaded!</strong>
           </div>

            <div ng-show="vm.application.resume.swedishLink.length">
             <button type="button" class="btn btn-default" ng-click="removeSwedishResume();"> Ta bort / Remove </button>
           </div>

           <div ng-show="error" class="text-center text-danger">
             <strong ng-bind="error"></strong>
            </div> 

            <br>
            <!-- CV engelska -->
            <h4> Engelska / English </h4>
            <div ng-hide="englishFileUploader.queue.length">
             <span class="btn btn-default btn-file">
                 Välj CV på engelska / Pick an English resume <input name="newResume" type="file" nv-file-select uploader="englishFileUploader">
             </span>
           </div>

           <div ng-show="englishFileUploader.queue.length">
             <button type="button" class="btn btn-primary" ng-click="englishFileUploader.uploadAll();">Skicka in cv / Submit resume</button>
            </div>

           <div ng-show="englishFileUploader.queue.length">  
             <button type="button" class="btn btn-default" ng-click="englishFileUploader.clearQueue(); englishUploadUnsuccess();">Ångra / Cancel</button> 
           </div>

           <div ng-show="englishUploadSuccess && !englishFileUploader.queue.length" class="text-success">
             <strong>Ditt cv har har laddats upp! / Your resume has been uploaded!</strong>
           </div>

           <div ng-show="vm.application.resume.englishLink.length">
            <button type="button" class="btn btn-default" ng-click="removeEnglishResume();"> Ta bort / Remove </button>
           </div>

           <div ng-show="error" class="text-center text-danger">
             <strong ng-bind="error"></strong>
            </div> 
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.application._id ? 'Update' : 'Skicka'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div> <br>


        vm.application.times === undefined {{vm.application.times === undefined}}

        vm.application.times.length === 0 {{vm.application.times.length === 0}}

        vm.application.times {{vm.application.times}}

      </fieldset>
    </form>
  </div>
</section>
