<section>
  <div class="page-header">
    <h1>Recieved applications</h1>
  </div>
  <div class="row">
    <div class="jumbotron">
      <table id="applicationsList" class="table table-striped compact table-bordered nowrap" >
        <thead>
          <tr>
            <th></th>
            <th>Created</th>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>email</th>
            <th>phone</th>
          </tr>
          <tr>
            <th></th>
            <th>Created</th>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>email</th>
            <th>phone</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Created</th>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
            <th>email</th>
            <th>phone</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
