<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.application.user.displayName"></h1>
    <hr>
    <a class="btn btn-lg btn-primary" href="/api/applications/resume/{{ vm.application.resume.swedishLink }}" 
    target="_blank">Download Swedish Resume from /api/applications/resume/{{vm.application.resume.swedishLink}}</a>
    <a class="btn btn-lg btn-primary" href="/api/applications/resume/{{ vm.application.resume.englishLink }}" target="_blank">Download English Resume</a>
    <hr>

    <h5>
     Name
    </h5>    
     <p data-ng-bind="vm.application.name"></p>
    <h5>
      Email
    </h5>
    <p data-ng-bind="vm.application.email"></p>
    <h5>
      Telephone
    </h5>
    <p data-ng-bind="vm.application.phone"></p>
    <h5>
      Education
    </h5>
    <p data-ng-bind="vm.application.program"></p>
    <h5>
    Year
    </h5>
    <p data-ng-bind="vm.application.year"></p>
    <h5>
      Presentation
    </h5>
    <p data-ng-bind="vm.application.description"></p>
    <h5>
      Companies chosen
    </h5>
    <ul>
      <li ng-repeat="company in vm.application.companies">
       {{ company }}
      </li>
    </ul>
    <h5>
      Available
    </h5>
    <ul>
      <li ng-repeat="time in vm.application.times">
       {{ time }}
      </li>
    </ul>
  </div>
  <div class="pull-right"
       data-ng-show="vm.application.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="applications.edit({ applicationId: vm.application._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.application.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.application.user"
            data-ng-bind="vm.application.user.displayName"></span>
      <span data-ng-if="!vm.application.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.application.content"></p>
</section>
