<section>
  <div class="page-header">
    <h1>Companies</h1>
  </div>
  <div class="row">
    <!-- Meeting Datatable -->
    <div class="row">
      <div class="jumbotron">
        <button class="btn btn-primary" ng-click="showMeetings = !showMeetings">Show/Hide meetingtable</button>
        <div ng-show="showMeetings">
          <h3>Meetings</h3>
          <table id="meetingTable" class="table table-striped compact table-bordered nowrap" >
            <thead>
              <tr>
                <th>Company</th>
                <th>Student</th>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
								<th>Email</th>
              </tr>
              <tr>
                <th>Company</th>
                <th>Student</th>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
								<th>Email</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Company</th>
                <th>Student</th>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
								<th>Email</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- Reserves Datatable -->
    <div class="row">
      <div class="jumbotron">
        <button class="btn btn-primary" ng-click="showReserves = !showReserves">Show/Hide all applicants</button>
        <div ng-show="showReserves">
          <h3>All applicants</h3>
          <table id="reservesTable" class="table table-striped compact table-bordered nowrap" >
            <thead>
              <tr>
                <th>Company</th>
                <th>Student</th>
                <th>Chosen</th>
                <th>Forced</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Wednesday</th>
                <th>Thursday</th>
              </tr>
              <tr>
                <th>Company</th>
                <th>Student</th>
                <th>Chosen</th>
                <th>Forced</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Wednesday</th>
                <th>Thursday</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Company</th>
                <th>Student</th>
                <th>Chosen</th>
                <th>Forced</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Wednesday</th>
                <th>Thursday</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
