<section>
  <div class="page-header">
    <h1>Companies</h1>
  </div>
  <!-- Companies -->
  <div class="row">
    <h2 id="company">
      Companies
    </h2>
    <!-- Selected Company -->
    <div class="company list-group-item" >
      <div ng-show="company">
        <h4 class="list-group-item-heading" data-ng-bind="company.name"></h4>
        <br>
        <h5 class><strong>Description:</strong></h5>
        <span data-ng-bind="company.description"></span>
        <br></br>
        <h5 class><strong>Requested CV Language:</strong></h5>
        <span data-ng-if="company.language.length == 0">No language specified</span>
        <span data-ng-if="company.language.length > 0" data ng-bind="company.language"></span>
        <a class="btn btn-primary pull-right" data-ui-sref="companies.view({ companyId: company._id })">Read more</a>
      </div>
    </div>

    <!-- CompaniesList -->
    <div class="row">
      <div class="companies list-group">
        <a data-ng-repeat="company in vm.companies"
           ng-click="viewCompany(company)"
           class="list-group-item">
          <h4 class="list-group-item-heading" data-ng-bind="company.name"></h4>
        </a>
      </div>
      <div class="alert alert-warning text-center" data-ng-if="vm.companies.$resolved && !vm.companies.length">
        No Companies yet, why don't you <a data-ui-sref="companies.create">create one</a>?
      </div>
    </div>
  </div>
</section>
