<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.company.name"></h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Name</strong></div>
        <div class="col-md-6" ng-bind="vm.company.name"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Description</strong></div>
        <div class="col-md-6" ng-bind="vm.company.description"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Requested CV Language</strong></div>
        <div class="col-md-6" ng-bind="vm.company.language"></div>
      </div>
      <hr/>
      <div ng-show="vm.company.profileImageURL" class="row">
        <div class="col-md-3"><strong>Logo</strong></div>
        <div class="col-md-6">
          <img style='height: 100%; width: 100%; object-fit: contain' ng-src="/api/companies/logo/{{vm.company.profileImageURL}}"></img>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Can offer the following</strong></div>
        <div class="col-md-6">{{vm.offerstring}}</div>
      <hr/>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Website</strong></div>
        <div class="col-md-6">{{vm.company.website}}</div>
      <hr/>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Active status</strong></div>
        <div class="col-md-6">{{vm.company.active}}</div>
      <hr/>
    </div>

  </div>

  <div class="pull-right"
       data-ng-show="(vm.authentication.user.roles.indexOf('admin')+1)">
    <a class="btn btn-primary"
       data-ui-sref="companies.edit({ companyId: vm.company._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.company.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.company.user"
            data-ng-bind="vm.company.user.displayName"></span>
      <span data-ng-if="!vm.company.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.company.content"></p>
</section>
